In [1]:
from matplotlib import pyplot as plt
import pandas as pd
import numpy as np
import warnings
warnings .filterwarnings("ignore")

In [2]:
df=pd.read_csv('C:\\Users\\GPT BANTWAL\\Documents\\result.csv')
df

  student name  mark       result
0     harshith    99  distinction
1     mokshith    99  distinction
2      jnanesh    60  first class
3      chethan    55  secondclass
4      kusappa    28         fail

In [3]:
df['result'].unique()

array(['distinction', 'first class', 'secondclass', 'fail'], dtype=object)

In [4]:
pd.get_dummies(df['result'])

   distinction  fail  first class  secondclass
0            1     0            0            0
1            1     0            0            0
2            0     0            1            0
3            0     0            0            1
4            0     1            0            0