In [3]:
import pandas as pd
data={
    'Name':['Alice','Bob','Charlie','David','Eve'],
    'Age':[25,32,28,45,29],
    'city':['New York','San Franciso','Los Angeles','Chicago','Miami']}
df=pd.DataFrame(data)
print(df)

      Name  Age          city
0    Alice   25      New York
1      Bob   32  San Franciso
2  Charlie   28   Los Angeles
3    David   45       Chicago
4      Eve   29         Miami