In [8]:
import pandas as pd
import numpy as np
df=pd.DataFrame({"Temperature":["hot","cold","warm","cold"]})
print(df)

  Temperature
0         hot
1        cold
2        warm
3        cold

In [9]:
pd.get_dummies(df)

   Temperature_cold  Temperature_hot  Temperature_warm
0                 0                1                 0
1                 1                0                 0
2                 0                0                 1
3                 1                0                 0